mat-drawer-container {
  width: 100%;
  height: calc(100vh - 64px);
  mat-drawer {
    width: 15rem;
    background-color: #F57C00;
    a {
      text-decoration: none;
    }
  }
  mat-drawer-content {
    margin: 1rem;
  }
}

div{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
